<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anime Search</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      html {
        background: lightseagreen;
        color: aquamarine;
      }
      div {
        background: lightseagreen;
        color: aquamarine;
        text-align: center
      }
      h1{
        background: darkslategrey;
        color: lightcyan
      }
      h4{
        color: Turquoise;
      }
      input {
        color: darkblue;
        background: lightcyan
      }
    </style>
  </head>
  <body>
    
    <div class="container-fluid">
      <form method="post" action="/result">
      <h1>Anime Search</h1>
      <p>Whether you want to watch a new anime this year,</p>
      <p>Or you want to revisit an old favorite of yours,</p>
      <p>This search will help you to get the summary, date released, episode count, and more!</p>
        <h4><b>Input an anime's name:</b></h4> 
      <h3><input type="text" name="search"></h3>
      <h5><input type="submit"></h5>
      <!--</form>-->
    </div>
    
  </body>
</html>

